<h1>Listing workouts</h1>
<div class="alert alert-danger" role="alert">
	Workouts are not currently working properly. Please don't use them yet.
</div>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Description</th>
      <th colspan="2">Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.description, workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
