<% provide(:title, 'All Workouts') %>
<h1>All Workouts</h1>

<table class="table">
  <thead>
    <tr>
      <th><strong>User</th>

      <th><strong>Actions </th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.name, workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %> | <%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<%= link_to 'New Workout', new_workout_path, class: "btn btn-default" %>
</center