<li>
  <%= gravatar_for user%>
  <%= link_to user.name, user %>
  </br>
  Last logged in 
  <%= time_ago_in_words user.updated_at%>
  ago.
  </br>
  <% if current_user.admin? && !current_user?(user) %>
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
</br>