<% provide(:title, 'All Lifts') %>
<h1>All Lifts for <%= @exercise.name %> </h1>


<table class="table">
	<tr>
		<td>Weight</td>
		<td>Reps</td>
		<td>Action</td>
		<%= render @weight_log %>

</table>


<%= link_to 'New Exercise Log', new_exercise_weight_log_path(@exercise) %>
