<% provide(:title, 'All Lifts') %>
<h1>All Lifts for <%= @exercise.name %> </h1>


<table class="table">

	<tr>
		<td><strong>Weight</td>
		<td><strong>Reps</td>
		<td><strong>Estimated </br>1 Rep Max </td>
		<td><strong>Date Lifted</td>
		<td><strong>Action</td>
	</tr>
	
		<%= render @weight_logs %>

</table>

<center>
<%= will_paginate %></center>
</br>

<center>    
<%= link_to 'New Log', new_exercise_weight_log_path(@exercise), class: "btn btn-default" %>
</center>