<% provide(:title, 'All Workouts') %>
<h1>All Workouts</h1>


<table class="table">
	<tr>
		<td>Weight</td>
		<td>Reps</td>
		<td>Action</td>
		<%= render @weight_logs %>

</table>


<%= link_to 'New Exercise Log', new_weight_log_path %>


