<% provide(:title, 'All Exercises') %>
<h1>All Exercises</h1>


<table class="table">
	<tr>
		<td>Exercise</td>
		<td>Actions</td>
		<%= render @exercises %>
	</tr>
</table>


<center>
<%= will_paginate %>

</br>
<%= link_to 'New Exercise', new_exercise_path, class: "btn btn-default" %>
</center>