<footer class="footer">
  <small>
    <a href="http://http://simpleexercisetracker.herokuapp.com/">Simple Exercise Tracker</a>
    by Dan Blau
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>