<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		
		<div class="visible-xs">
			<%= link_to "S.E.T.", root_path, id: "logo" %>
			<%= render 'layouts/mobileMenu' %>
		</div>
		<div class="hidden-xs">
			<%= link_to "Simple Exercise Tracker", root_path, id: "logo" %>
			<%= render 'layouts/menu' %>
		</div>

	</div>
</nav>