<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		
			<div class="visible-xs">
				<%= render 'layouts/mobileMenu' %>
			</div>
			<div class="hidden-xs">
				
				<%= render 'layouts/menu' %>
			</div>
	</div>
</nav>