<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		
			<div>
				<%= render 'layouts/mobileMenu' %>
			</div>
			<div >
				
				<%= render 'layouts/menu' %>
			</div>
	</div>
</nav>