	  <nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
			  <%= link_to "Simple Exercise Tracker", "#", id: "logo" %>
			  <nav>
				<ul class="nav navbar-nav">
				  <li><%= link_to "Home",    		root_path %></li>
				  <li><%= link_to "Exercises",    	exercises_path %></li>
				  <li><%= link_to "Workout Log", weight_logs_path %></li>
				</ul>
			  </nav>
			</div>
		  </nav>